const WORKER_URL = "https://worker-abk.kurikulum-sman2cikarangbarat.workers.dev/api/submit-ujian";

async function kirim() {
  const nama = document.getElementById("nama").value.trim();
  const token = document.getElementById("token").value.trim();
  const jawaban = [...document.querySelectorAll(".jwb")]
    .map(i => i.value.trim().toUpperCase());

  const log = document.getElementById("log");
  log.textContent = "Mengirim...";

  try {
    const res = await fetch(WORKER_URL, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ nama, token, jawaban })
    });

    const text = await res.text();
    log.textContent = text;
  } catch (e) {
    log.textContent = "ERROR: " + e.message;
  }
}
