body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 250px;
}

button {
  cursor: pointer;
}

#opsi button {
  display: block;
  margin: 5px 0;
}
